# UI
BASE_URL=https://demowebshop.tricentis.com

# API — замените на свой репозиторий на GitHub
API_BASE_URL=https://my-json-server.typicode.com/typicode/demo

# Allure TestOps
ALLURE_TOKEN=fd600afb-c7a9-43c1-b9cd-1f8576616366
ALLURE_PROJECT_ID=5227
ALLURE_ENDPOINT=https://allure.autotests.cloud

# Telegram
TELEGRAM_BOT_TOKEN=8569207574:AAH5ggu3fAyHV1WAJqixi-eRuIk-MtZ11oo
TELEGRAM_CHAT_ID=-5142022788
